ipos_dataon.db
ipo-database.db
.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
.ipynb_checkpoints/IPO_Model_Balance_Sheet-checkpoint.ipynb
.ipynb_checkpoints/IPO_Model-checkpoint.ipynb

.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
