ipos_dataon.db
ipo-database.db
.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
.ipynb_checkpoints/IPO_Model_Balance_Sheet-checkpoint.ipynb
.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/three_month_return-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
DataExtraction/notebooks/three_month_return_calculation/.ipynb_checkpoints/three_month_return-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-1day-checkpoint.ipynb
ML_Model/notebooks/IPO_Model-exploration-70-30-split.ipynb
ML_Model/notebooks/IPO_Model-exploration-80-20-split.ipynb
ML_Model/notebooks/IPO_Model-exploration-unfitted-nonstratified.ipynb
ML_Model/notebooks/IPO_Model-lessfit-Resample.ipynb
ML_Model/notebooks/IPO_Model-lessfit.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model_Balance_Sheet-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-exploration-70-30-split-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-exploration-80-20-split-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-exploration-unfitted-nonstratified-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-exploration-unfitted-nonstratified-EBITDA-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-exploration-unfitted-nonstratified-EBITDA-firstday-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-lessfit-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-lessfit-Resample-checkpoint.ipynb
ML_Model/notebooks/IPO_Model-exploration-unfitted-nonstratified-EBITDA.ipynb
ML_Model/notebooks/IPO_Model-exploration-unfitted-nonstratified-EBITDA-firstday.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-Three_month-checkpoint.ipynb
ML_Model/README.md
ML_Model/notebooks/explained_weights.csv
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-Firstday-checkpoint.ipynb
ML_Model/notebooks/IPO_Model-Three_month-annvizualize.ipynb
ML_Model/notebooks/model.h5
ML_Model/notebooks/model.json
ML_Model/notebooks/network.gv
ML_Model/notebooks/nn.json
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-Three_month-annvizualize-checkpoint.ipynb
ML_Model/notebooks/testing notebooks/.ipynb_checkpoints/de-encode-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-Firstday-RnD_ratio-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-Three_month-RnD_ratio-checkpoint.ipynb
ML_Model/notebooks/testing notebooks/.ipynb_checkpoints/IPO_Model-Firstday-loss-checkpoint.ipynb
ML_Model/notebooks/testing notebooks/.ipynb_checkpoints/IPO_Model-Firstday-RnD_ratio-checkpoint.ipynb
ML_Model/notebooks/testing notebooks/.ipynb_checkpoints/IPO_Model-Three_month-RnD_ratio-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-Firstday-ConfusionMatrix-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-Three_month-ConfusionMatrix-checkpoint.ipynb
