ipos_dataon.db
ipo-database.db
.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
.ipynb_checkpoints/IPO_Model_Balance_Sheet-checkpoint.ipynb
.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/three_month_return-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-checkpoint.ipynb
DataExtraction/notebooks/three_month_return_calculation/.ipynb_checkpoints/three_month_return-checkpoint.ipynb
ML_Model/notebooks/.ipynb_checkpoints/IPO_Model-1day-checkpoint.ipynb
